/*CSS pour le header, le titre de la page et le footer*/


/*header*/

.header{


height: 70px;
left: 0px;
top: 0px;

background: #000;
}

.navbar {
 background:#000;
}
.nav-link, .navbar-brand {
 color: #fff;
 cursor: pointer;
}
.nav-link {
 margin-right: 1em !important;
}
.nav-link:hover {
 color: #000;
}
.navbar-collapse {
 justify-content: flex-end;
}


/*titre*/

.titrecat{

font-family: Ribeye Marrow;

font-size: 80px;

text-align: center;

color: #000;

}

.separation{

height: 0px;
    margin-left: auto;
    margin-right: auto;

top: 345px;

border: 1px solid #000;
    text-align: center;
}



/*footer*/

footer{

    background: #DCDCDC;
    color :#fff; 

}
