/*CSS pour le header, le titre de la page et le footer*/


/*header*/

.header {
<<<<<<< HEAD
    height: 70px;
    left: 0px;
    top: 0px;
    background: #000;
}

.navbar {
    background: #000;
=======
    height: 170px;
    background: #fff;
}

.navbar {
    background: #353434;
>>>>>>> bemilien
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
<<<<<<< HEAD
    margin-right: 1em !important;
=======
    margin-right: 70px;
>>>>>>> bemilien
}

.nav-link:hover {
    color: #9C9C9C;
}

.navbar-collapse {
    justify-content: flex-end;
}


/*titre*/

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
<<<<<<< HEAD
    padding-bottom: 345px;
}

.titrecat {
    font-family: Ribeye Marrow;
=======
    padding-bottom: 2.5rem;
}

.titrecat {
    font-family: Open Sans;
>>>>>>> bemilien
    font-size: 80px;
    text-align: center;
    color: #000;
}

<<<<<<< HEAD
=======
.sous_titre {
    font-family: Open Sans;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}



.petit_texte {
    font-family: Open Sans;
    font-size: 10px;
    text-align: center;
    color: #000000 ;
}


>>>>>>> bemilien
.separation {
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 345px;
    border: 1px solid #000;
    text-align: center;
}


/*footer*/

<<<<<<< HEAD
footer {
    background: #394351;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
=======
.footer {
    background: #394351;
    font-family: Open Sans;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    bottom:0px;
>>>>>>> bemilien
}