.titrecat{

font-family: Ribeye Marrow;

font-size: 80px;

text-align: center;

color: #4F4537;

}

.separation{

height: 0px;
    margin-left: auto;
    margin-right: auto;

top: 345px;

border: 1px solid #4F4537;
    text-align: center;
}

.form_choix{
	padding-top:20px;
width: 400px;
height: 98px;

background: #A09776;
border-radius: 20px;
}


.corps{
height: 367px;

background: #F8F7F6;
}


.btn_sub{
  width: 489px;
height: 70px;
background: #A09776;
border-radius: 20px;
}

.btn_sub_text2{
font-family: Roboto;
font-weight: bold;
font-size: 30px;

color: #000000;
}


.text_form{
font-family: Roboto;
font-style: italic;
font-size: 30px;

color: #000000;
}

.padding{
	padding-top:100px;
}

.text_choix{
font-family: Roboto;
font-size: 36px;
text-align: center;

color: #FFFFFF;
}