/*CSS pour le header, le titre de la page et le footer*/


/*header*/

.head {
    height: 170px;
    left: 0px;
    top: 0px;
    background: #000;
}

.navbar {
    background: #353434;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 70px;
}

.nav-link:hover {
    color: #9C9C9C;
}

.navbar-collapse {
    justify-content: flex-end;
}

.imgobj {
        display: block;
    margin-left: auto;
    margin-right: auto;
        width: 80%;
        height: 65%;
    }

/*titre*/

.titrecat {
    font-family: font-family: Open Sans;
    font-size: 80px;
    text-align: center;
    color: #000;
    padding-top:80px;

}

.separation {
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 345px;
    border: 1px solid #000;
    text-align: center;
}


.petit_texte {
    font-family: Open Sans;
    font-size: 15px;
    text-align: center;
    color: #000000 ;
}


/*footer*/

footer {
   background: #394351;
    color: #fff;

}