/*CSS pour afficher la barre de recherche*/

.recherche {
        height: 50px;
        text-align: center;
        margin: 0 auto;
        width: 20%;
    }
    /*CSS pour afficher un item*/
    
    .item {
        height: 390px;
        width: 92%;
        border-color: black;
        margin: 0 auto;
    }
    
    .imgobj {
        width: 100%;
        height: 65%;
    }
    
    .description {
        height: 35%;
        text-align: center;
    }
    
/*CSS pour le bouton de commande*/
    .btn-order {
        width: 50%;
        padding: 4px;
        font-size: 15px;
        color: #fff;
        background-color: black;
    }
    /*Pagee d'accueil*/
    
    .info {
        text-align: center;
        margin: 0 auto;
       
    }

/*CSS pour afficher le caroussel*/
    
    .typetitre {
        margin-top: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    #skills {
        background: #fff;
    }
    
    #skills .heading h2 {
        color: #000;
    }
    
    #skills .progress {
        height: auto;
        margin: 30px 20px;
        background: #ddd;
    }
    
/*CSS progression du caroussel*/
    #skills .progress-bar {
        background: #FA1D5D;
    }
    
    #skills .progress h5 {
        margin-top: 5px;
        text-shadow: 1px 1px 1px #000;
    }
    
    .carousel-indicators {
        bottom: 0px;
    }
    
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 1px solid #FA1D5D;
    }
    
    .carousel-indicators li.active {
        background-color: #000;
    }
    
 /*CSS pour afficher le caroussel*/   
#carousel_ECEBay{
    width:100%;
    margin:0 auto;
    margin-top:-40px;
}

/*CSS pour afficher image du caroussel*/
.carousel-item img{
    width:100%;
    height:auto;
}
/*CSS pour afficher titre du caroussel*/
.carousel_titre{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 40px;
color: #FFFFFF;
text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
padding-bottom:5px;
}
/*CSS pour afficher "logo" decouvir du caroussel*/
.carousel_carre{
width: 255px;
height: 65px;
border: 4px solid #ffffff;
box-sizing: border-box;
box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
text-align:center;
}
