    .recherche {
    height: 50px;
    text-align: center;
    margin: 0 auto;
    width: 20%;
}


/*CSS pour afficher un item*/

.item {
    height: 390px;
    width: 92%;
    border-color: black;
    margin: 0 auto;
}

.imgobj {
    width: 100%;
    height: 65%;
}

.description {
    height: 35%;
    text-align: center;
}

.btn-order {
    width: 50%;
    padding: 4px;
    font-size: 15px;
    color: #fff;
    background-color: black;
}


/*Pagee d'accueil*/

.info {
    text-align: center;
    margin: 0 auto;
    height: 300px;
}


/*Page catégorie*/

.typetitre {
    margin-top: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

#skills {
    background: #fff;
}

#skills .heading h2 {
    color: #FF8C00;
}

#skills .progress {
    height: auto;
    margin: 30px 20px;
    background: #ddd;
}

#skills .progress-bar {
    background: #FF8C00;
}

#skills .progress h5 {
    margin-top: 5px;
    text-shadow: 1px 1px 1px #000;
}

.carousel-indicators {
    bottom: 0px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #FF8C00;
}

.carousel-indicators li.active {
    background-color: #FF8C00;
}

#myCarousel .carousel-item {
    padding: 40px 30px;
}

#myCarousel .carousel-item h3 {
    color: #FF8C00;
    font-style: italic;
}

.fas.fa-chevron-left,
.fas.fa-chevron-right {
    background-image: none;
    color: #FF8C00;