.form{
margin:0 auto;
    text-align:center;

}
.form-actions{
margin:0 auto;
    text-align:center;

}

.ajouter{
margin:0 auto;
    text-align:center;

}

.validationsup{
    background-color: #D3D3D3;
    padding:15px;
}

.titrecat{

font-family: Ribeye Marrow;

font-size: 80px;

text-align: center;

color: #4F4537;

}

.rounded-circle{
    width:225px;
    height:225px;
}

/*
.separation{

height: 0px;
    margin-left: auto;
    margin-right: auto;

top: 345px;

border: 1px solid #4F4537;
    text-align: center;
}

.form{
width: 800px;
height: 98px;
background: rgba(160, 151, 118, 0.4);
border-radius: 20px;
text-align: center;
}


.corps{
top: 373px;

background: #F8F7F6;
}


.btn_sub{
  width: 489px;
height: 70px;
background: #A09776;
border-radius: 20px;
}

.btn_sub_text2{
font-family: Roboto;
font-weight: bold;
font-size: 30px;

color: #000000;
}


.text_form{
font-family: Roboto;
font-style: italic;
font-size: 30px;
text-align: center;

color: #000000;
}
.image_bancaire_CB{
	height: 170px;
}
.image_bancaire_MCard{
	height: 181px;
}
.image_bancaire_AX{
	height: 178px;
}*/